
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
}

/*HEADER SUPERIOR*/

.header__superior{
    max-width: 120px;
    margin: auto;
    align-items: auto;
    padding: 20px;
}

.logo img{
    width: 250px;
    
}



/*barra menu*/

.container__menu{
    width: 100%;
    height: 70px;
    background: #ffd0fc;
    padding: 0px 20px;
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
}

nav > ul > li{
    height: 100%;
    list-style: none;
    position: relative;

}

nav > ul > li:first-child > a{
    background-image: url(../imagen/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: rgb(0, 0, 0);
    text-decoration: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}


nav > ul > li > a:hover{
    transform: scale(1.3);
    transform: scale(1.1);
    background-color: #bcfbfc;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#selected{
    transform: scale(1.1);
    background-color: #bcfbfc;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/*Elementos responsivos*/

.icon__menu{
    font-size: 26px;
    color: black;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: flex;
    align-items: center;
}

#check__menu{
    display: none;
}


@media screen and (max-width: 720px){
    
    .header__superior{
        padding: 10px;
    }

    .logo img{
        width: 200px;
    }

    nav > ul{
        flex-direction: column;
        background-color: #bcfbfc;
        position: fixed;
        left: 0;
        top: 158px;
        width: 100%;
        height: 300px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }
    nav > ul > li > a:hover{
        transform: scale(1);
    }

    nav > ul > li:first-child a{
        background-position: 20px;
    }

    #selected{
        transform: scale(1);
    }

}

/*Empezando con las imagenes del inicio*/


.body_imagenes{
    max-width: 1200px;
    padding: 20px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.caja{
    width: 300px;
    position: relative;
    margin: 20px;
    transition: all 300ms;
    border-radius: 20px;
}

.img:hover{
    box-shadow: 1px 1px 20px -10px #28282849; /*Aparece sombrado en la caja al momento que se pasa por arriba con el mouse*/
}

.caja:hover .informacion_img{
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;
}

.caja:hover .img{
    margin-top: -110px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius:  20px 20px 0px 0px;
}

.img{
    width: 100%;
    height: 220px;
    background: #ffd0fc;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 20px;
}

.informacion_img{
    width: 100%;
    height: 220px;
    color: black;
    background: #bcfbfc; /*cambiar color*/
    padding: 20px;
    margin-top: -220px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.informacion_img p{

    font-size: 14px;
    margin-top: 10px;
    display: -webkit-box; /*permite reflejar el contenido en una sola dirección especifica*/
    display: -moz-box; /*esta propiedad es para controlar el modelo de caja*/
    display: box;
    -webkit-box-orient: vertical; /*indicandole que el recorte sea vertical*/
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}

.informacion_img input{
    margin-top: 20px;
    padding: 10px 40px;
    background: white;
    color: #ffd0fc;
    font-weight: 500;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #28282849;
    transition: box-shadow 500ms;
}

.informacion_img input:hover{
    box-shadow: 1px 1px 30px -5px #28282870;
}

.c1:hover .img{
    background: #bcfbfc;
}
.c1 .img{
    color: #bcfbfc;
}
.c1:hover .img{
    background: #ffd0fc;
}


.c2:hover .img{
    background: #bcfbfc;
}
.c2 .img{
    color: #bcfbfc;
}
.c2:hover .img{
    background: #ffd0fc;
}


.c3:hover .img{
    background: #bcfbfc;
}
.c3 .img{
    color: #bcfbfc;
}
.c3:hover .img{
    background: #ffd0fc;
}



.c4:hover .img{
    background: #bcfbfc;
}
.c4 .img{
    color: #bcfbfc;
}
.c4:hover .img{
    background: #ffd0fc;
}


.c5:hover .img{
    background: #bcfbfc;
}
.c5 .img{
    color: #bcfbfc;
}
.c5:hover .img{
    background: #ffd0fc;
}



.c6:hover .img{
    background: #bcfbfc;
}
.c6 .img{
    color: #bcfbfc;
}
.c6:hover .img{
    background: #ffd0fc;
}



.c7:hover .img{
    background: #bcfbfc;
}
.c7 .img{
    color: #bcfbfc;
}
.c7:hover .img{
    background: #ffd0fc;
}



.c8:hover .img{
    background: #bcfbfc;
}
.c8 .img{
    color: #bcfbfc;
}
.c8:hover .img{
    background: #ffd0fc;
}



/*terminando con las imagenes de inicio*/
